.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container > div{
  flex-basis: 18%;
  height: 100px;
  background-color: #cca3a3;
}