html {
  background-color: rgb(68, 68, 68);
}

.container {
  background-color: antiquewhite;
  width: 12%;
  border-radius: 5px;
  margin: 50px;
  font-size: 30px;
}

.menu__item1:hover {
  color: red;
}

