.text1 {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.text2 {
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 600;
}